.header{
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 10px 20px;
  margin: 5px;
}
.btn{
  background-color: #bababa;
  height: 50px;
  width: 100px;
}